mat-card {
  width: 70%;
  margin: auto;
}

mat-form-field, textarea{
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview{
  img{
    max-width: 200px;
  }
}

input[type="file"]{
  visibility: hidden;
}